<?xml version="1.0" encoding="utf-8" ?>
<config>
  <!--
  Imagem fundo menu: https://pixabay.com/en/rectangles-647267/
  
  -->
  <game
      gridWidth="32"
      gridHeight="32"
      playableWidth="10"
      playableHeight="20"
      assetsFolder="Assets"
      fontName="arial.ttf">
    <background
      textureName="background-game.png"
      gameCoordX="373"
      gameCoordY="30"
      nextBlockCoordX="783"
      nextBlockCoordY="62" />
  </game>
  <menu>
    <background
      textureName="background-menu.png"
     />
  </menu>
  <blocks>
    <block textureName="block-lightblue.png">
      0100
      0100
      0100
      0100
    </block>
    <block textureName="block-blue.png">
      100
      111
    </block>
    <block textureName="block-orange.png">
      001
      111
    </block>
    <block textureName="block-yellow.png">
      11
      11
    </block>
    <block textureName="block-green.png">
      011
      110
    </block>
    <block textureName="block-purple.png">
      010
      111
    </block>
    <block textureName="block-red.png">
      110
      011
    </block>
  </blocks>
</config>
